.bl_calendar_wrapper {
  width: 86%;
  max-width: 960px;
  margin: 0 auto;
  .fc .fc-toolbar {
    & > * > * {
      float: left;
    }
    .fc-left {
      float: left;
    }
    .fc-right {
      float: right;
    }
    .fc-state-default {
      color: #172158;
      background: none;
      border: 1px solid #172158;
      box-shadow: none;
      text-shadow: none;
      &.fc-state-disabled {
        opacity: 0.3;
      }
    }
  }
  .eo-fullcalendar {
    .fc-view > table > thead {
      background: #fafafa;
    }
    .fc-event {
      font-size: 0.8em;
      font-weight: 700;
      border-radius: 3px;
      background: $key_color;
      @media (min-width: 768px) {
        padding: 3px;
      }
    }
  }
  .eo-fullcalendar-reset {
    .fc-view-container th {
      padding: 2vw 0 !important;
      font-weight: 500;
      @media (min-width: 768px) {
        padding: 10px 0 !important;
      }
      &.fc-sat {
        color: #5e8cbc;
      }
      &.fc-sun {
        color: #bc5e70;
      }
    }
    &.fc-unthemed .fc-today {
      background: #fce3e3;
    }
  }
  .fc-ltr .fc-basic-view .fc-day-number {
    text-align: left;
    padding: 0 1vw !important;
    @media (min-width: 768px) {
      padding: 0 7px !important;
    }
    &.fc-sat {
      color: #5e8cbc;
    }
    &.fc-sun {
      color: #bc5e70;
    }
  }
  .fc-day-grid-event .fc-time {
    display: none;
  }
}

.ly_eventpage {
  margin-bottom: 13.3333vw;
  padding-top: 12.8vw;
  @media (min-width: 768px) {
    margin-bottom: 100px;
    padding-top: 80px;
  }
}

.bl_epHedline_wrapper {
  position: relative;
  width: fit-content;
  margin: 6.66666vw auto 13.33333vw;
  padding: 0 5.33333vw;
  color: $key_color;
  text-align: center;
  line-height: 1.2;
  @media (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0 50px;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 13.33333vw;
    height: 0.13333vw;
    background: $key_color;
    @media (min-width: 768px) {
      width: 100px;
      height: 1px;
    }
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%;
  }
}
.bl_epHedline_en {
  font-family: Montserrat;
  font-size: 5.33333vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}
.bl_epHedline_ja {
  font-size: 2.66666vw;
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.bl_epTtl {
  position: relative;
  width: 100%;
  margin-bottom: 6.6667vw;
  font-size: 4vw;
  color: $key_color;
  font-weight: 700;
  @media (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 24px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.33333vw;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    z-index: -1;
    @media (min-width: 768px) {
      height: 10px;
    }
  }
}
.bl_epContent_wrapper {
  margin-bottom: 13.3333vw;
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}
.bl_epDl_wrapper {
  display: flex;
  width: 100%;
  font-size: 3.46666vw;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.bl_epDl_dt {
  position: relative;
  width: 25%;
  margin-bottom: 6.6667vw;
  padding-bottom: 1.3333vw;
  font-weight: 500;
  color: $key_color;
  @media (min-width: 768px) {
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &::first-letter {
    color: $sub_color;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px dotted #ccc;
    z-index: -1;
  }
}
.bl_epDl_dd {
  position: relative;
  width: 75%;
  margin-bottom: 6.6667vw;
  padding-bottom: 1.3333vw;
  @media (min-width: 768px) {
    margin-bottom: 30px;
    padding-bottom: 10px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px dotted #ccc;
    z-index: -1;
  }
}
.bl_epMaparea_wrapper {
  position: relative;
  padding-bottom: 1.3333vw;
  @media (min-width: 768px) {
    padding-bottom: 10px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px dotted #ccc;
    z-index: -1;
  }
}
.bl_epMaparea_headline {
  width: 100%;
  margin-bottom: 1.3333vw;
  font-size: 3.46666vw;
  font-weight: 500;
  color: $key_color;
  @media (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 16px;
  }
  &::first-letter {
    color: $sub_color;
  }
}
.bl_epMap_wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  background: #eee;
  @media (min-width: 768px) {
    padding-top: 56%;
  }
}
.bl_epMap_iframe {
  position: absolute;
  top: 0;
  left: 0;
}
.bl_epBack_wrapper {
  display: inline-block;
  margin-top: 6.6667vw;
  @media (min-width: 768px) {
    margin-top: 50px;
  }
}
.bl_epBack_inner {
  position: relative;
  padding-left: 3.5vw;
  &::before {
    content: '';
    position: absolute;
    width: 1.33333vw;
    height: 1.33333vw;
    left: 0;
    top: 50%;
    transform: translate3d(0, -50%, 0) rotate(45deg);
    border-bottom: 0.25vw solid $key_color;
    border-left: 0.25vw solid $key_color;
  }
}
