.bl_contactform_wrapper {
  &.js_isOpen {
    margin-top: 10vw;
    @media (min-width: 768px) {
      margin-top: 80px;
    }
  }
  input[type='email'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='url'],
  textarea {
    width: 100%;
    margin-top: 1vw;
  }
  [type='submit'] {
    margin-top: 5vw;
    padding: 3vw 10vw;
    font-weight: 500;
    background: $key_color;
    color: #fff;
    line-height: 1;
    border-radius: 3px;
    @media (min-width: 768px) {
      margin-top: 30px;
      padding: 15px 80px;
      transition: 0.5s;
      &:hover {
        background: #eee;
        color: $key_color;
      }
    }
  }
}
