.ly_header {
  position: relative;
  width: 100%;
  padding-top: 10vw;
  @media (min-width: 768px) {
    padding-top: 30px;
  }
}
.bl_header_inner {
  position: relative;
  width: 80%;
  margin: 0 auto 14.285vw;
  padding-bottom: 35vw;
  @media (min-width: 768px) {
    width: 90%;
    margin-bottom: 150px;
    padding-bottom: 0;
  }
  @media (min-width: 1000px) {
    width: calc(100% - 200px);
  }
}
.bl_headerLogo_wrapper {
  position: relative;
  width: 21.5vw;
  height: 21.5vw;
  margin-bottom: 7.14vw;
  @media (min-width: 768px) {
    width: 150px;
    height: 150px;
    margin-bottom: 0;
  }
}
.bl_headerLogo_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bl_header_tagline {
  font-size: 3.14vw;
  font-weight: 400;
  line-height: 1.7;
  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }
}
.bl_pcNav_wrapper {
  width: 100%;
  margin-top: 180px;
  margin-bottom: 150px;
}
.bl_pcNav_ul {
  display: flex;
  justify-content: right;
  font-family: Lato;
}
.bl_pcNav_li {
  position: relative;
  margin-right: 50px;
  &:last-of-type {
    margin-right: 10px;
  }
  &::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: $key_color;
    transition: 0.5s;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
  a {
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
}
.bl_spNavBtn {
  position: fixed;
  width: 7vw;
  height: 7vw;
  top: 7vw;
  right: 7vw;
  z-index: 9999;
}
.bl_spNavBtn_inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.bl_spNavBtn_bar {
  position: absolute;
  height: 1px;
  background: $key_color;
  transition: 0.5s;
  &__top {
    width: 100%;
    top: 40%;
  }
  &__bottom {
    width: 80%;
    top: 60%;
    right: 0;
  }
}
.js_isOpen {
  .bl_spNavBtn_bar {
    &__top {
      top: 50%;
      transform: rotate(30deg);
    }
    &__bottom {
      width: 100%;
      top: 50%;
      transform: rotate(-30deg);
    }
  }
}
.bl_scroll_wrapper {
  position: absolute;
  width: 14.285vw;
  bottom: 0;
  left: 0;
  transform: rotate(90deg) translate(-100%, 100%);
  transform-origin: bottom left;
  @media (min-width: 768px) {
    position: relative;
    width: 100px;
    transform: rotate(90deg) translate(0, 100%);
  }
}
.bl_scrollbar_wrapper {
  position: relative;
  width: 100%;
  height: 3px;
  overflow: hidden;
  @media (min-width: 768px) {
    height: 2px;
  }
}
.bl_scrollbar_bar {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  &__base {
    width: 100%;
    background: #eee;
  }
  &__move {
    width: 4.285vw;
    background: $sub_color;
    animation: scroll_nav 2s linear infinite;
    @media (min-width: 768px) {
      width: 30%;
    }
  }
}
@keyframes scroll_nav {
  0% {
    left: 0;
  }
  70% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.bl_scrollbar_txt {
  font-family: Lato;
  font-size: 2.857vw;
  font-weight: 400;
  color: $key_color;
  letter-spacing: 0.1em;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}
.bl_headerImg_wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 35vw;
  @media (min-width: 768px) {
    margin-bottom: 250px;
  }
}
.bl_headerImg_bgWrapper {
  position: absolute;
  width: 90%;
  height: 64.285vw;
  top: 7.14vw;
  right: 0;
  @media (min-width: 768px) {
    height: 300px;
    top: 50px;
  }
  @media (min-width: 1200px) {
    height: calc(300px + 5vw);
    max-height: 450px;
  }
}
.bl_headerImg_bg {
  width: 100%;
  height: 100%;
}
.bl_headerImg_imgWrapper {
  width: 90%;
  height: 64.285vw;
  @media (min-width: 768px) {
    height: 300px;
  }
  @media (min-width: 1200px) {
    height: calc(300px + 5vw);
    max-height: 450px;
  }
}
.bl_headerImg_img {
  position: relative;
  width: 100%;
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('../images/index/header_sp.jpg');
    background-size: cover;
    background-position: right;
    @media (min-width: 768px) {
      background-image: url('../images/index/header_pc.jpg');
    }
  }
}
.bl_headerImg_logo {
  position: absolute;
  width: 50%;
  bottom: -13.64vw;
  right: 0;
  @media (min-width: 768px) {
    width: 30%;
    max-width: 420px;
    bottom: -100px;
    right: 30px;
  }
}

.bl_spMenu_wrapper {
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 30vw;
    padding-bottom: 30vw;
    background: #fff;
    opacity: 0;
    z-index: 80;
    transition: 0.5s;
    overflow-y: auto;
  }
}
.js_isOpen {
  .bl_spMenu_wrapper {
    visibility: visible;
    opacity: 1;
  }
}
.bl_spMenu_inner {
  width: fit-content;
  margin-left: 25vw;
}
.bl_spMenuNav_ul {
  position: relative;
  margin-bottom: 20vw;
  padding-bottom: 12vw;
  li {
    margin-bottom: 7vw;
    font-size: 4vw;
    font-weight: 500;
    line-height: 1.75;
    &:last-of-type {
      margin-bottom: 0;
    }
    a {
      color: $key_color;
      span {
        display: block;
        font-family: Montserrat;
        font-size: 2.66666vw;
        font-weight: 600;
      }
    }
  }
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 8vw;
    height: 1px;
    background: $key_color;
  }
}
.bl_spMenuLogo_wrapper {
  width: 40vw;
  margin-left: 25vw;
}
