.bl_loading_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  background: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  &.js_loaded {
    opacity: 0;
    visibility: hidden;
  }
}
.bl_loading_logo {
  width: 25vw;
  height: 25vw;
  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
  }
  &__svg {
    width: 100%;
    height: 100%;
    fill: $key_color;
  }
}
.bl_loading_anim {
  position: relative;
  width: 20vw;
  height: 20vw;
  margin-top: -4vw;
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    margin-top: -15px;
  }
  &__bar {
    position: absolute;
    bottom: 0;
    width: 12%;
    height: 60%;
    background: $key_color;
    transform-origin: center bottom;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        left: ($i - 1) * 20% + 5%;
        transform: scale(1, $i * 0.2);
        animation: barUp#{$i} 4s infinite;
      }
    }
  }
  &__ball {
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 12%;
    height: 12%;
    background: $key_color;
    border-radius: 50%;
    animation: ball 4s infinite;
  }
}
.bl_loading_txt {
  margin-top: 1vw;
  font-family: 'RobotoCondensed';
  font-size: 4vw;
  letter-spacing: 0.2em;
  animation: blinking 1s infinite;
  @media (min-width: 768px) {
    margin-top: 5px;
    font-size: 16px;
  }
}

@keyframes ball {
  0% {
    transform: translate(41.66666%, 0);
  }
  5% {
    transform: translate(125%, -127.66666%);
  }
  10% {
    transform: translate(208.33333%, -94.33333%);
  }
  17% {
    transform: translate(291.66666%, -212%);
  }
  20% {
    transform: translate(375%, -178.66666%);
  }
  27% {
    transform: translate(458.33333%, -296.33333%);
  }
  30% {
    transform: translate(541.66666%, -263%);
  }
  37% {
    transform: translate(625%, -380.66666%);
  }
  40% {
    transform: translate(708.33333%, -347.33333%);
  }
  50% {
    transform: translate(708.33333%, 0);
  }
  57% {
    transform: translate(625%, -127.66666%);
  }
  60% {
    transform: translate(541.66666%, -94.33333%);
  }
  67% {
    transform: translate(458.33333%, -212%);
  }
  70% {
    transform: translate(375%, -178.66666%);
  }
  77% {
    transform: translate(291.66666%, -296.33333%);
  }
  80% {
    transform: translate(208.33333%, -263%);
  }
  87% {
    transform: translate(125%, -380.66666%);
  }
  90% {
    transform: translate(41.66666%, -347.33333%);
  }
  100% {
    transform: translate(41.66666%, 0);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
