// ACCESS
.bl_access_wrapper {
  margin-bottom: 20vw;
  @media (min-width: 768px) {
    margin-bottom: 150px;
    display: flex;
    align-items: center;
  }
}
.bl_accessMap_wrapper {
  position: relative;
  width: 90vw;
  height: 67.5vw;
  overflow: hidden;
  filter: grayscale(1);
  @media (min-width: 768px) {
    width: 50%;
    height: 37.5vw;
    max-height: 600px;
    min-height: 350px;
    transition: filter 0.5s;
    &:hover {
      filter: grayscale(0.5);
    }
  }
}
.bl_accessCont_wrapper {
  width: 90%;
  margin-top: -30vw;
  margin-right: 0;
  margin-left: auto;
  padding: 40vw 10vw 10vw;
  line-height: 1.9;
  letter-spacing: 0.02em;
  @media (min-width: 768px) {
    width: 50%;
    padding: 60px;
    margin: 0;
    height: 20vw;
    min-height: 250px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
  }
}
.bl_accessCont_adrs {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  text-align: right;
  @media (min-width: 768px) {
    text-align: left;
  }
  &::before {
    content: '';
    position: absolute;
    width: 3vw;
    height: 1px;
    bottom: 0;
    right: 0;
    background: $key_color;
    @media (min-width: 768px) {
      width: 20px;
      left: 0;
      right: auto;
    }
  }
}
.bl_accessCont_dl {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  margin-right: 0;
  margin-left: auto;
  font-family: Lato, $default_font;
  @media (min-width: 768px) {
    width: 180px;
    margin: 0;
  }
}
.bl_accessCont_dt {
  width: 35%;
  font-weight: 400;
}
.bl_accessCont_dd {
  width: 65%;
  text-align: right;
}
.bl_access_dots {
  @media (min-width: 768px) {
    position: absolute;
    width: 50%;
    height: 250px;
    bottom: -80px;
    left: 15%;
    z-index: -1;
  }
}

// IMAGE AREA
.bl_imgArea_wrapper {
  margin-bottom: 20vw;
  @media (min-width: 768px) {
    margin-bottom: 150px;
  }
}
.bl_imgItem_wrapper {
  position: relative;
}
.bl_imgItem_imgWrap {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.bl_imgItem_bg {
  position: absolute;
  z-index: -1;
}
.bl_imgItem_txt {
  position: absolute;
}
.bl_imgItem_wrapper__1 {
  width: 70vw;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 9vw;
  @media (min-width: 768px) {
    width: 40vw;
    margin-right: 19vw;
    padding-bottom: 3.5vw;
  }
  .bl_imgItem_imgWrap {
    width: 60vw;
    height: 40vw;
    margin-left: 5vw;
    @media (min-width: 768px) {
      width: 40vw;
      height: 26.7vw;
      margin-left: 0;
    }
  }
  .bl_imgItem_bg {
    width: 60vw;
    height: 40vw;
    bottom: 0;
    @media (min-width: 768px) {
      width: 40vw;
      height: 26.7vw;
      bottom: 0;
      left: -5vw;
    }
  }
  .bl_imgItem_txt {
    width: 45vw;
    right: 0;
    bottom: 0;
    @media (min-width: 768px) {
      width: 28vw;
      right: -13vw;
    }
  }
}
.bl_imgItem_wrapper__2 {
  width: 48vw;
  margin-left: 0;
  padding-top: 5vw;
  padding-bottom: 7vw;
  @media (min-width: 768px) {
    width: 30vw;
    margin-top: -18vw;
    margin-left: 6.25vw;
    padding-top: 4vw;
  }
  .bl_imgItem_imgWrap {
    width: 40vw;
    height: 60vw;
    margin-left: 5vw;
    @media (min-width: 768px) {
      width: 30vw;
      height: 45vw;
      margin-left: 0;
    }
  }
  .bl_imgItem_bg {
    width: 40vw;
    height: 60vw;
    right: 0;
    bottom: 0;
    @media (min-width: 768px) {
      width: 30vw;
      height: 45vw;
      top: 11vw;
      left: 3vw;
      z-index: -3;
    }
  }
  .bl_imgItem_txt {
    width: 38vw;
    top: 0;
    left: 0;
    @media (min-width: 768px) {
      width: 22.5vw;
      left: -5vw;
    }
  }
}
.bl_imgItem_wrapper__3 {
  width: 48vw;
  margin-top: -50vw;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 12vw;
  @media (min-width: 768px) {
    width: 30vw;
    margin-top: -30vw;
    margin-right: 6.25vw;
    padding-bottom: 4vw;
  }
  .bl_imgItem_imgWrap {
    width: 40vw;
    height: 60vw;
    margin-left: 6vw;
    @media (min-width: 768px) {
      width: 30vw;
      height: 45vw;
      margin-left: 0;
    }
  }
  .bl_imgItem_bg {
    width: 40vw;
    height: 60vw;
    left: 2vw;
    bottom: 6vw;
    @media (min-width: 768px) {
      width: 30vw;
      height: 45vw;
      top: 3vw;
      left: -6vw;
      z-index: -2;
    }
  }
  .bl_imgItem_txt {
    width: 50vw;
    bottom: 0;
    right: 0;
    @media (min-width: 768px) {
      width: 30vw;
      left: 6vw;
    }
  }
}
.bl_imgItem_wrapper__4 {
  width: 70vw;
  padding-top: 6vw;
  padding-bottom: 9vw;
  padding-left: 10vw;
  @media (min-width: 768px) {
    width: 40vw;
    margin-top: -19vw;
    margin-left: 18vw;
    padding: 0 0 3vw;
  }
  .bl_imgItem_imgWrap {
    width: 60vw;
    height: 40vw;
    @media (min-width: 768px) {
      width: 40vw;
      height: 26.7vw;
    }
  }
  .bl_imgItem_bg {
    width: 60vw;
    height: 40vw;
    top: 0;
    right: -10vw;
    @media (min-width: 768px) {
      width: 40vw;
      height: 26.7vw;
      top: -4vw;
      left: 10vw;
    }
  }
  .bl_imgItem_txt {
    width: 40vw;
    left: 0;
    bottom: 0;
    @media (min-width: 768px) {
      width: 17vw;
      left: -11vw;
    }
  }
}

// RESERVATION
.bl_reserv_wrapper {
  width: 80%;
  max-width: 800px;
  margin: 0 auto 14vw;
  @media (min-width: 768px) {
    margin-bottom: 150px;
  }
}
.bl_reserv_btn {
  position: relative;
  width: 100%;
  margin-top: 10vw;
  padding: 2vw 0;
  border: 1px solid $key_color;
  color: $key_color;
  text-align: center;
  line-height: 1.5;
  @media (min-width: 768px) {
    margin-top: 50px;
    padding: 12px 0;
    cursor: pointer;
  }
  &.js_isOpen {
    background: $key_color;
    color: #fff;
    .bl_reserv_btnIcon {
      transform: rotate(180deg);
      fill: #fff;
    }
    .bl_reserv_btnDeco {
      fill: #d9d4c9;
    }
  }
}
.bl_reserv_btnIcon {
  display: block;
  width: 3vw;
  height: 3vw;
  margin: 0 auto;
  fill: $key_color;
  transition: 0.5s;
  @media (min-width: 768px) {
    width: 12px;
    height: 12px;
  }
}
.bl_reserv_btnDeco {
  position: absolute;
  width: 40vw;
  top: 50%;
  right: -10vw;
  left: auto;
  fill: $key_color;
  transition: 0.5s;
  @media (min-width: 768px) {
    width: 290px;
    max-width: 350px;
    top: 10%;
    right: -10%;
  }
}
.bl_reserv_accord {
  width: 100%;
  height: 0;
  margin-bottom: 10vw;
  padding: 0;
  border-bottom: 1px dotted $key_color;
  transition: 0.5s;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  text-align: center;
  opacity: 0;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  &.js_isOpen {
    height: auto;
    padding: 4vw 0;
    visibility: visible;
    line-height: normal;
    opacity: 1;
    @media (min-width: 768px) {
      padding: 30px 0;
    }
  }
}
.bl_reserv_btn2col {
  margin: 7vw auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 768px) {
    margin-top: 50px;
    .el_btn {
      width: 43%;
    }
  }
  .el_btn {
    width: 100%;
  }
  & > * {
    margin-bottom: 4vw;
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// SCHOOL
.bl_school_wrapper {
  position: relative;
  margin-top: -5vw;
  margin-bottom: 18vw;
  padding-top: 10vw;
  @media (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 150px;
    padding-top: 0;
  }
}
.bl_schoolCont_wrapper {
  position: relative;
  width: 90%;
  margin: 0 0 5vw auto;
  padding: 8vw 8vw 10vw;
  z-index: 0;
  @media (min-width: 768px) {
    width: 75%;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
  }
  @media (min-width: 1000px) {
    width: 65%;
  }
  p {
    margin-bottom: 1.4em;
    @media (min-width: 768px) {
      margin-right: 3em;
    }
  }
}
.bl_schoolList_ul {
  @media (min-width: 768px) {
    min-width: 250px;
  }
}
.bl_schoolList_li {
  position: relative;
  margin-bottom: 0.4em;
  padding-left: 1.5em;
  &::before {
    content: '';
    position: absolute;
    width: 1em;
    height: 1em;
    top: 54%;
    left: 0;
    transform: translate(0, -50%);
    background-image: url(../images/common/checked-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.bl_school_dots {
  position: absolute;
  width: 50vw;
  height: 50vw;
  top: 0;
  left: 0;
  z-index: -1;
  @media (min-width: 768px) {
    width: 20%;
    max-width: 340px;
    height: 160px;
  }
  @media (min-width: 1000px) {
    width: 25%;
  }
}
