.bl_mainvisual_wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30vw;
  padding-top: 12.8vw;
  @media (min-width: 768px) {
    margin-bottom: 150px;
    padding-top: 80px;
  }
}
.bl_mainvisual_inner {
  position: relative;
  width: 87.2vw;
  margin-left: auto;
  @media (min-width: 768px) {
    width: calc(100% - 160px);
    margin-bottom: 0;
  }
}
.bl_mainvisual_slider {
  width: 100%;
  height: 130vw;
  @media (min-width: 768px) {
    height: calc((100vw - 160px) * 0.55);
  }
}
.bl_mainvisualPic_wrapper {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ccc;
    mix-blend-mode: multiply;
  }
}
.bl_mainvisual_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bl_mainvisual_typo {
  position: absolute;
  object-fit: contain;
  &_1 {
    width: 80vw;
    top: 45%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    @media (min-width: 768px) {
      width: 50%;
    }
  }
  &_2 {
    width: 50vw;
    top: 57%;
    right: 5%;
    @media (min-width: 768px) {
      width: 35%;
    }
  }
  &_3 {
    width: 35vw;
    top: 12%;
    left: 7%;
    @media (min-width: 768px) {
      width: 20%;
    }
  }
}
.bl_scrollNav_wrapper {
  position: absolute;
  padding: 3vw 23vw 3vw 6vw;
  right: 0;
  bottom: -25vw;
  transform: rotate(90deg);
  transform-origin: right top;
  z-index: 70;
  background: #fff;
  color: $key_color;
  font-family: RobotoCondensed;
  font-size: 3.5vw;
  @media (min-width: 768px) {
    padding: 20px 115px 20px 40px;
    bottom: -180px;
    font-size: 16px;
  }
}
.bl_scrollNav_mainBar,
.bl_scrollNav_actBar {
  position: absolute;
  top: 50%;
  right: 0;
  background: $key_color;
}
.bl_scrollNav_mainBar {
  width: 20vw;
  height: 0.25vw;
  @media (min-width: 768px) {
    width: 100px;
    height: 1px;
  }
}
.bl_scrollNav_actBar {
  width: 5vw;
  top: 50%;
  transform: translateY(-50%);
  height: 0.3vw;
  animation: scroll_nav 1.5s linear infinite;
  @media (min-width: 768px) {
    width: 20px;
    height: 2px;
  }
}
@media (max-width: 768px) {
  @keyframes scroll_nav {
    0% {
      right: 15vw;
    }
    100% {
      right: 0;
    }
  }
}
@media (min-width: 768px) {
  @keyframes scroll_nav {
    0% {
      right: 80px;
    }
    100% {
      right: 0;
    }
  }
}
.bl_mainvisual_desc {
  position: absolute;
  padding: 4vw 6vw;
  left: 0;
  bottom: -20vw;
  font-size: 3.2vw;
  line-height: 2.5;
  letter-spacing: 0.05em;
  background: #fdfdff;
  color: $key_color;
  z-index: 10;
  @media (min-width: 768px) {
    padding: 50px 70px;
    bottom: -120px;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}

.bl_secHedline_wrapper {
  position: relative;
  width: fit-content;
  margin: 0 auto 8vw;
  padding: 0 5.33333vw;
  color: $key_color;
  text-align: center;
  line-height: 1.2;
  @media (min-width: 768px) {
    margin-bottom: 50px;
    padding: 0 50px;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 13.33333vw;
    height: 0.13333vw;
    background: $key_color;
    @media (min-width: 768px) {
      width: 100px;
      height: 1px;
    }
  }
  &::before {
    right: 100%;
  }
  &::after {
    left: 100%;
  }
}
.bl_secHedline_en {
  font-family: Montserrat;
  font-size: 5.33333vw;
  font-weight: 700;
  letter-spacing: 0.1em;
  @media (min-width: 768px) {
    font-size: 30px;
  }
}
.bl_secHedline_ja {
  font-size: 2.66666vw;
  font-weight: 500;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.bl_news_wrapper {
  width: 86vw;
  max-width: 960px;
  margin: 2.66666vw auto 0;
  @media (min-width: 768px) {
    margin-top: 0;
  }
}
.bl_newsList_li {
  &:last-of-type {
    .bl_newsList_link {
      margin-bottom: 0;
      &::after {
        content: none;
      }
    }
  }
}
.bl_newsList_link {
  position: relative;
  width: 100%;
  margin-bottom: 10.6667vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: $default_color;
  fill: $default_color;
  cursor: pointer;
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -5.33333vw;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eeeeee;
    @media (min-width: 768px) {
      bottom: -20px;
    }
  }
  &:hover {
    color: $sub_color;
    fill: $sub_color;
    @media (min-width: 768px) {
      .bl_newsList_svgArw {
        margin-right: 0;
        margin-left: 20px;
      }
    }
  }
}
.bl_newsList_date {
  width: 100%;
  font-size: 2.66666vw;
  @media (min-width: 768px) {
    width: 80px;
    margin-right: 50px;
    font-size: 16px;
  }
}
.bl_newsList_ttl {
  width: calc(100% - 8vw);
  font-size: 3.2vw;
  @media (min-width: 768px) {
    width: calc(100% - 170px);
    font-size: 16px;
  }
}
.bl_newsList_svgArw {
  width: 4vw;
  margin-left: 4vw;
  @media (min-width: 768px) {
    width: 20px;
    margin-right: 10;
    margin-left: 10px;
    transition: 0.5s;
  }
}

.bl_about_wrapper {
  position: relative;
  width: 100%;
  &::before {
    content: 'MOVABLE RESTAURANT';
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    right: 0;
    font-family: Montserrat;
    font-size: 9.33333vw;
    font-weight: 500;
    color: #e6e6e6;
    z-index: -1;
    transform: rotate(90deg) translate3d(90%, 20%, 0);
    transform-origin: right;
    white-space: nowrap;
    opacity: 0.5;
    @media (min-width: 768px) {
      font-size: 60px;
      transform: rotate(90deg) translate3d(40%, 20%, 0);
    }
  }
}
.bl_about_inner {
  width: 86vw;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    padding-top: 30px;
  }
}
.bl_about_ttl {
  position: relative;
  margin-bottom: 4vw;
  margin-left: 6vw;
  padding: 1vw;
  font-size: 4vw;
  font-weight: 500;
  color: $key_color;
  background: rgba($color: #fff, $alpha: 0.8);
  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 5%;
    padding: 10px;
    font-size: 24px;
  }
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    top: 50%;
    left: 0;
    z-index: -1;
    @media (min-width: 768px) {
      width: 180px;
      height: 180px;
    }
  }
  &::before {
    border-color: $sub_color;
    transform: translate3d(-55%, -55%, 0);
  }
  &::after {
    border-color: $key_color;
    transform: translate3d(-45%, -45%, 0);
  }
}
.bl_about_body {
  width: 75%;
  margin-right: 0;
  margin-bottom: 12vw;
  margin-left: auto;
  font-size: 2.9333vw;
  @media (min-width: 768px) {
    width: 40%;
    margin-right: 5%;
    margin-bottom: -100px;
    font-size: 16px;
  }
}
.bl_about_subHead {
  position: relative;
  width: fit-content;
  margin-bottom: 4vw;
  font-family: RobotoCondensed;
  font-size: 4.53333vw;
  font-weight: 300;
  color: $key_color;
  @media (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 50px;
  }
  &::first-letter {
    color: $sub_color;
  }
  &::before {
    content: '';
    position: absolute;
    width: 10.66666vw;
    height: 1px;
    top: 50%;
    background: #c3c3c3;
    @media (min-width: 768px) {
      width: 70px;
    }
    @media (min-width: 1279px) {
      width: 160px;
    }
  }
  &__1 {
    padding-left: 17.66666vw;
    @media (min-width: 768px) {
      padding-left: 100px;
    }
    @media (min-width: 1279px) {
      padding-left: 190px;
    }
    &::before {
      width: 13.66666vw;
      left: 0;
    }
  }
  &__2 {
    margin-right: 0;
    margin-left: auto;
    padding-right: 11.66666vw;
    @media (min-width: 768px) {
      padding-right: 100px;
    }
    @media (min-width: 1279px) {
      padding-right: 190px;
    }
    &::before {
      width: 7.66666vw;
      right: 0;
    }
  }
  &__3 {
    padding-left: 11.66666vw;
    @media (min-width: 768px) {
      padding-left: 180px;
    }
    @media (min-width: 1279px) {
      padding-left: 230px;
    }
    &::before {
      width: 7.66666vw;
      left: 0;
      @media (min-width: 768px) {
        width: 150px;
      }
      @media (min-width: 1279px) {
        width: 200px;
      }
    }
  }
}
.bl_about_img {
  display: block;
  filter: grayscale(1);
  transition: filter 2s;
  &__1 {
    width: 75vw;
    margin-bottom: 6vw;
    @media (min-width: 768px) {
      width: 50%;
      margin-bottom: -150px;
    }
    @media (min-width: 1279px) {
      margin-bottom: -300px;
    }
  }
  &__2 {
    width: 50vw;
    margin-right: 0;
    margin-bottom: -6vw;
    margin-left: auto;
    @media (min-width: 768px) {
      width: 40%;
      margin-bottom: -100px;
    }
  }
  &__3 {
    width: 45vw;
    @media (min-width: 768px) {
      width: 40%;
      margin-left: 15%;
    }
  }
  &.js_isScrolled {
    filter: grayscale(0);
  }
}

.bl_menuSlider_wrapper {
  position: relative;
  width: 86vw;
  margin-right: auto;
  margin-left: auto;
  margin: 13.33333vw auto 0;
  @media (min-width: 768px) {
    width: 100%;
    margin: 50px auto 0;
  }
}
.bl_menuSlider_Swiperwrap {
  position: relative;
}
.bl_menuSliderItem_wrapper {
  img {
    display: block;
    width: 60vw;
    height: 60vw;
    margin: 0 auto;
    object-fit: contain;
    opacity: 0.3;
    filter: grayscale(0.5);
    transition: opacity filter 1s;
    @media (min-width: 768px) {
      width: calc((100vw - 200px) / 2);
      height: calc((100vw - 200px) / 2);
    }
    @media (min-width: 1279px) {
      width: calc((100vw - 200px) / 2.5);
      height: calc((100vw - 200px) / 2.5);
    }
  }
}
.bl_menuSlider_name {
  margin-bottom: 1, 5vw;
  font-size: 3.73333vw;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: $key_color;
  text-align: center;
  @media (min-width: 768px) {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
.bl_menuSlider_price {
  margin-bottom: 4vw;
  padding: 0 2vw;
  font-family: Montserrat;
  font-size: 3.2vw;
  letter-spacing: 0.1em;
  text-align: right;
  @media (min-width: 768px) {
    margin-bottom: 30px;
    padding: 0 10px;
    font-size: 18px;
  }
}
.bl_menuSlider_desc {
  width: fit-content;
  margin: 0 auto;
  font-size: 3.2vw;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
.bl_menuSlider_name,
.bl_menuSlider_price,
.bl_menuSlider_desc {
  opacity: 0;
  transition: opacity 0.5s;
}
.swiper-slide-active {
  img,
  .bl_menuSlider_name,
  .bl_menuSlider_price,
  .bl_menuSlider_desc {
    opacity: 1;
    filter: grayscale(0);
    transition: opacity filter 0.5s;
  }
}
.bl_menuSlider_prev,
.bl_menuSlider_next {
  position: absolute;
  width: 0;
  height: 0;
  top: 30vw;
  border-style: solid;
  border-width: 0 4vw 6.9vw 4vw;
  border-color: transparent transparent #d6cabf transparent;
  transform-origin: top;
  cursor: pointer;
  z-index: 10;
  @media (min-width: 768px) {
    top: calc(((100vw - 200px) / 2) / 2);
    border-width: 0 25px 43.3px 25px;
  }
  @media (min-width: 1279px) {
    top: calc(((100vw - 200px) / 2.5) / 2);
    border-width: 0 25px 43.3px 25px;
  }
}
.bl_menuSlider_prev {
  left: 0;
  transform: rotate(-90deg) translate3d(0, -50%, 0);
  @media (min-width: 768px) {
    left: calc((100% - 200px) / 4);
  }
  @media (min-width: 1279px) {
    left: calc(((100% - 200px) / 4) + 70px);
  }
}
.bl_menuSlider_next {
  right: 0;
  transform: rotate(90deg) translate3d(0, -50%, 0);
  @media (min-width: 768px) {
    right: calc((100% - 200px) / 4);
  }
  @media (min-width: 1279px) {
    right: calc(((100% - 200px) / 4) + 70px);
  }
}

.bl_instafeed_wrapper {
  position: relative;
  width: 100vw;
  margin-right: calc(100% -100vw);
  margin-bottom: 40vw;
  margin-left: calc(100% -100vw);
  @media (min-width: 768px) {
    width: 100%;
    margin-right: auto;
    margin-bottom: 150px;
    margin-left: auto;
  }
  svg {
    position: absolute;
    width: 57.33333vw;
    right: 0;
    bottom: -13.33333vw;
    fill: $sub_color;
    @media (min-width: 768px) {
      width: 430px;
      right: calc(50% - 50vw);
      bottom: -50px;
    }
    @media (min-width: 1280px) {
      right: -160px;
    }
  }
}
.bl_instafeed_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bl_instafeed_item {
  width: 33.33333vw;
  height: 33.33333vw;
  @media (min-width: 768px) {
    width: calc((100% - 60px) / 3);
    height: calc((100vw - 60px) / 3);
    max-width: 300px;
    max-height: 300px;
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &:nth-child(odd) {
    background: #eee;
  }
  &:nth-child(even) {
    background: #ddd;
  }
}
.bl_otfNav_wrapper {
  margin-bottom: 18.6667vw;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
}
.bl_otfNav_inner {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.bl_otfNavItem_wrapper {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 13.3333vw;
  padding: 8vw 13.33333vw;
  background: #f8f8f9;
  color: $default_color;
  transition: 0.5s;
  @media (min-width: 768px) {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 0;
    padding: 60px 80px 60px 60px;
  }
  &:last-of-type {
    margin-bottom: 0;
    @media (min-width: 768px) {
      margin-right: 0;
    }
  }
  &:hover {
    background: #fff;
    .bl_otfNavItem_ttl {
      color: $sub_color;
    }
    .bl_otfNavItem_icon {
      background: $key_color;
      svg {
        fill: #fff;
      }
    }
  }
}
.bl_otfNavItem_ttl {
  position: relative;
  font-family: RobotoCondensed;
  font-size: 7vw;
  font-weight: 300;
  line-height: 1;
  z-index: 1;
  transition: 0.5s;
  &::first-letter {
    color: $sub_color;
  }
  @media (min-width: 768px) {
    font-size: 30px;
  }
}
.bl_otfNavItem_subTtl {
  margin-bottom: 9vw;
  font-size: 2.66666vw;
  font-weight: 500;
  line-height: 1;
  color: $sub_color;
  @media (min-width: 768px) {
    margin-bottom: 30px;
    font-size: 10px;
  }
}
.bl_otfNavItem_headline {
  margin-bottom: 2.6667vw;
  font-size: 3.5vw;
  font-weight: 500;
  color: $key_color;
  @media (min-width: 768px) {
    margin-bottom: 15px;
    font-size: 17px;
  }
}
.bl_otfNavItem_body {
  font-size: 3vw;
  @media (min-width: 768px) {
    font-size: 14px;
  }
}
.bl_otfNavItem_icon {
  position: absolute;
  display: flex;
  width: 20vw;
  height: 20vw;
  top: 2.66666vw;
  right: 2.66666vw;
  background: rgba($color: #fff, $alpha: 0.5);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  z-index: 0;
  transition: 0.5s;
  @media (min-width: 768px) {
    width: 100px;
    height: 100px;
    top: 25px;
    right: 35px;
  }
  svg {
    width: 6.66666vw;
    fill: $key_color;
    transition: 0.5s;
    @media (min-width: 768px) {
      width: 35px;
    }
  }
}

.ly_footer {
  width: 100%;
  margin: 0;
  padding: 16vw 0 5.33333vw;
  background: #f4f2f0;
  @media (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}
.bl_footer_inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media (min-width: 768px) {
    height: 320px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.bl_footerLogo_wrapper {
  display: flex;
  width: fit-content;
  margin: 0 auto 16vw;
  flex-direction: column;
  align-items: center;
  color: $key_color;
  fill: $key_color;
  @media (min-width: 768px) {
    width: 200px;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
  }
  svg {
    width: 26.66666vw;
    margin: 0 auto 4vw;
    @media (min-width: 768px) {
      width: 140px;
      margin-bottom: 20px;
    }
  }
}
.bl_footerLogo_type {
  font-family: Montserrat;
  font-size: 4vw;
  font-weight: 700;
  @media (min-width: 768px) {
    font-size: 20px;
  }
}
.bl_footerNav_wapper {
  display: flex;
  width: 100%;
  margin-bottom: 20vw;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: nowrap;
  @media (min-width: 768px) {
    width: fit-content;
    max-width: calc(100% - 300px);
    height: 100%;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
.bl_footerNav_main {
  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  @media (min-width: 768px) {
    margin-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    margin-bottom: 5.3333vw;
    font-size: 3.46666vw;
    line-height: 1.5;
    @media (min-width: 768px) {
      font-size: 16px;
      margin-right: 50px;
      margin-bottom: 15px;
    }
    a {
      color: $default_color;
      transition: 0.5s;
      &:hover {
        color: $sub_color;
      }
      span {
        display: block;
        padding-left: 0.1em;
        font-family: RobotoCondensed;
        font-size: 2.5vw;
        @media (min-width: 768px) {
          font-size: 12px;
        }
      }
    }
    &:last-of-type {
      @media (max-width: 768px) {
        margin-bottom: 0;
      }
      @media (min-width: 768px) {
        margin-right: 0;
      }
    }
  }
}
.bl_footerNav_sub {
  display: flex;
  width: fit-content;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  @media (min-width: 768px) {
    margin-right: 0;
    margin-left: auto;
    flex-direction: row;
    align-items: center;
  }
  li {
    margin-bottom: 4vw;
    line-height: 1.5;
    @media (min-width: 768px) {
      margin-right: 40px;
      margin-bottom: 0;
    }
    &:last-of-type {
      @media (min-width: 768px) {
        margin-right: 0;
      }
    }
    a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      color: $key_color;
      fill: $key_color;
      transition: 0.5s;
      &:hover {
        color: $sub_color;
        fill: $sub_color;
      }
      svg {
        width: 3.466666vw;
        margin-right: 2.6667vw;
        @media (min-width: 768px) {
          width: 16px;
          margin-right: 5px;
        }
      }
      span {
        display: block;
        font-family: Montserrat;
        font-size: 3.73333vw;
        @media (min-width: 768px) {
          font-size: 14px;
        }
      }
    }
  }
}
.bl_footer_copyright {
  width: fit-content;
  margin: 0 auto;
  font-family: Montserrat;
  font-size: 2.66666vw;
  color: $key_color;
  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
}
