@charset 'UTF-8';

@font-face {
  font-family: 'Noto Sans JP';
  font-weight: 400;
  src: url('../fonts/NotoSansJP-Regular.woff2') format('woff2'),
    url('../fonts/NotoSansJP-Regular.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
}

$default_font: 'Noto Sans JP', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
  'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
